@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --text-light: hsl(69, 83%, 5%);
  --background-light: hsl(65, 75%, 97%);
  --primary-light: hsl(70, 62%, 53%);
  --secondary-light: hsl(165, 71%, 93%);
  --accent-light: hsl(68, 64%, 55%);

  --text-dark: hsl(268, 42%, 94%);
  --background-dark: hsl(170, 28%, 10%);
  --primary-dark: hsl(272, 92%, 85%);
  --secondary-dark: hsl(170, 28%, 18%);
  --accent-dark: hsl(68, 64%, 55%);

  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --text: var(--text-light);
  --background: var(--background-light);
}

/* Apply dark theme variables when dark mode is active */
.dark {
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --text: var(--text-dark);
  --background: var(--background-dark);
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes grow-full {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes shrink {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes shrink-full {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(0);
  }
}

@keyframes scale-down {
  from {
    height: 18%;
  }

  to {
    height: 0;
  }
}

@keyframes scale-up {
  from {
    height: 0;
  }

  to {
    height: 18%;
  }
}

#globe {
  fill: white;
  transform-origin: center;
  animation: grow .3s ease-in-out forwards;
}

.dark #globe {
  animation: shrink .3s ease-in-out forwards;
}

#sun-rays {
  fill: white;
}

#ray,
#ray_2,
#ray_3,
#ray_4,
#ray_5,
#ray_6,
#ray_7,
#ray_8 {
  animation: scale-down .3s ease-in-out forwards;
}

.dark #ray,
.dark #ray_2,
.dark #ray_3,
.dark #ray_4,
.dark #ray_5,
.dark #ray_6,
.dark #ray_7,
.dark #ray_8 {
  animation: scale-up .3s ease-in-out forwards;
}

#moon {
  transform-origin: center;
  animation: grow-full .3s ease-in-out forwards;
}

.dark #moon {
  animation: shrink-full .3s ease-in-out forwards
}